<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Shop
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="view_cart()" color="primary_b">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
 <div style="text-align:center" *ngIf="!categoryReady">
    <ion-spinner name="dots"></ion-spinner>
    <p>Loading Categories</p>
  </div>

  <ion-list>
    <ion-item  [@fadeInOut] *ngFor="let cat of categories" (tap)="open(cat.slug)">
      <ion-thumbnail item-start>
        <img [src]="cat.image" onerror="this.src='assets/img/cate.png';">
      </ion-thumbnail>
      <h2 class="cat-name"> {{cat.name}} </h2>
      <ion-note item-end>
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>