<ion-header>

  <ion-navbar>
    <ion-title>Subscribe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="text-align:center" *ngIf="!ready">
    <ion-spinner name="dots"></ion-spinner>
    <p>Loading groups...</p>
  </div>

  <div style="text-align:center" *ngIf="hasError">
    <h2>Error, please check your connection</h2>
  </div>
  <div>
    <ion-list>
      <ion-item *ngFor="let group of groups; let i = index">
        <ion-label> {{group.label}} </ion-label>
        <ion-toggle id="{{group.segment}}" [(ngModel)]="test_checked[group.posttype]" (tap)="switched($event, group, i)"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
  <div style="text-align:center" *ngIf="ready && !hasError">
    <button ion-button round outline (click)="saveChanges()">Save</button>
  </div>

  <div style="text-align:center" *ngIf="ready && hasError">
    <button ion-button round outline (click)="saveChanges()">Close</button>
  </div>
</ion-content>
